@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&family=Poppins:wght@100;300;400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    box-sizing: border-box;
}
h1{
    font-size: 48px;
}
h2{
    font-size: 30px;
}
.container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
/* header content and navigation */
header{
    background-color: #b16e696c;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    padding-top: 30px;
    
}

header .btn{
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
  
    
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    

}
nav ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
}
nav ul li {
    margin: 0 10px;
    list-style-type: none;
}
nav ul li a {
    text-decoration: none;
    color: #333;
    transition: all 0.2s ease 0s;
    font-weight: 500;
    font-size: 20px;
}
nav ul li a:hover {
    color: #007bff;

}
/* section styling */
section {
    color: #ffffff;
    padding: 50px;
    min-height: 75vh;
    width: 100%;
    position: relative;
}
.spacer{
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.layer{
        background-image: url(images/stacked.svg);
}
.layer2{
    background-image: url(images/stacked2.svg);
}
/* row 1 styling */
.row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 200px;

}
.column-1{
    flex: 0 0 50%;
    max-width: 50%;
    margin-top: 100px;
    

}

.row .left-main{
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: large;
}
.row .left-main h1, .row .left-main h2  ,  .row .left-main p{
    margin-bottom: 20px;

}

.row .left-main p{
    font-weight: 300;
}
.row .left-main .register{
    padding: 15px;
    border-radius: 5px;
    border: none;
    background-color: #6a6b32;
    color: #fff;
    cursor: pointer;
    font-weight: 700;
    transition: all 0.2s linear;
    text-decoration:none;
}
.row .left-main .learn{
    padding: 15px;
    color: white;
}
.row .left-main .register:hover{
   vertical-align: middle;
   transform: translateY(-10px);
}
.row .left-main .clickable{
    margin-top: 10px;
}
.row .right-main{
    display: flex;
    justify-content: center;
    align-items: center;

}
.row .right-main img{
    width: 100%;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}
/* row 2 styling */
.row-2{
    display: flex;
    flex-wrap: wrap;
    margin: 15px 200px;
    height: 250px;
    
}
.top,.mid,.bot{
    border-radius: 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    padding: 20px;
    background-color: rgba(139, 100, 60, 0.616);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    width: 350px;
    text-align: center;
    color: #110f08;
}
 .top {
    margin-left: 20%;
}
.mid {
    margin-top: -30px;
    margin-left: 35%;
}
.bot {
    margin-left: 50%;
    margin-top: -30px;
}
.top:hover,.mid:hover,.bot:hover{
    transform: scale(1.1);
}
.register-background{
    background-image: url(images/wave.svg);
    height: 100vh;
}
.login-register{
    display: flex;
    justify-content: center;
    position: relative;
}
.input-group {
    display: flex;
    padding: 50px;
    border-radius: 20px;
    background-color: #7d7e4460;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 480px;
    width: 500px;
    position: relative;
      margin-top: 10%;
}
.input-group .input-field{
    border: none;
    margin: 5px;
    padding: 10px;
    width: 250px;
    border-radius: 10px;
    
}
.btn-box{
    margin: 20px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    display: flex;
    }
 .toggle-btn{
    padding: 10px;
    width: 120px;
    border: none;
    color: #fff;
    background: transparent;
    cursor: pointer;
    font-weight: 700;
    transition: all 0.2s linear;
    text-decoration:none;
    position: relative;
}
#btn {
    width: 120px;
    height: 35px;
    border-radius: 30px;
    position: absolute;
    background: linear-gradient(to right, #0e0e0d, #d2d454);
    top: 50;
    left: 50;
    transition: 0.5s;
}
.submit-btn{
    margin-top: 10px;
    background: linear-gradient(to right, #888870, #d2d454);
    width: 120px;
    height: 30px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
.type-form{
    text-align: center;
    
}
